{
  "presets": [
    "module:metro-react-native-babel-preset"
  ],
  "plugins": [
    [
      "module-resolver",
      {
        "root": [
          "./src"
        ],
        "alias": {
          "~": "./",
          "@": "./src",
          "@assets": "./src/assets",
          "@components": "./src/components",
          "@mock": "./src/mock",
          "@modules": "./src/modules",
          "@constants": "./src/constants",
          "@redux": "./src/redux-store"
        }
      }
    ],
  ]
}