{
  "presets": ["module:metro-react-native-babel-preset"],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./src"],
        "alias": {
          "~": "./",
          "@": "./src",
          "@mock": "./src/mock",
          "@assets": "./src/assets",
          "@modules": "./src/modules",
          "@redux": "./src/redux-store",
          "@constants": "./src/constants",
          "@components": "./src/components"
        }
      }
    ]
  ]
}
